<h1><%=@result[:app_name]%></h1>
<p>
  <strong>Rails environment:</strong> <%=@result[:rails_env] %><br >
</p>

<p>
  <strong>Last deployed time:</strong> <%=@result[:last_deploy]%><br />
  <strong>Current deployed version:</strong> <%=@result[:version]%><br />
  <strong>Current deployed revision:</strong> <%=@result[:revision]%><br />
  <strong>Last restart time:</strong> <%=@result[:last_restart]%>  <br />
  <strong>Registered SOLR cores: </strong> <%=@result[:solr_cores]%> <br /> 
</p>